/* * RESET * */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&family=Rubik:wght@900&display=swap");

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
  cursor: default;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  /* display: block; */
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* GENERAL */

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}

.navbar h1 {
  color: #f1356d;
}

.navbar .links {
  margin-left: auto;
}

.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
  font-weight: 300;
  color: rgb(129, 125, 125);
}

.navbar a:hover {
  color: #f1356d;
}

.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

/* BLOG PREVIEW */

.blog-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}

.blog-preview a {
  text-decoration: none;
}

.blog-preview p {
  color: rgb(129, 125, 125);
}

.blog-preview:hover {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}

.blog-preview h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 8px;
}

.blog-details h1 {
  margin-bottom: 10px;
}

.blog-details span {
  color: #f1356d;
}

.blog-details div {
  margin: 20px 0;
}

.blog-details button {
  width: 25%;
  background-color: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  cursor: pointer;
  border-radius: 3px;
  margin-bottom: 10px;
}

article {
  color: rgb(53, 50, 50);
  font-weight: 400;
}

/* CREATE BLOG */

.create-blog {
  max-width: 400;
  margin: 0 auto;
  text-align: center;
}

.create-blog label {
  text-align: left;
  display: block;
}

.create-blog h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 30px;
}

.create-blog input,
.create-blog textarea,
.create-blog select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}

.create-blog button {
  width: 25%;
  background-color: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  cursor: pointer;
  border-radius: 3px;
  margin-bottom: 10px;
}
